# Database
DATABASE_URL=postgresql://neondb_owner:npg_J56WIdGlRcDk@ep-noisy-voice-alyfy5eb-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# JWT
JWT_SECRET=0fa1de324dd03146fc2a6426f93cb864bd1eea4547b3c46a5667fb737a67473c
JWT_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

# Resend (Email)
RESEND_API_KEY=re_xxxxxxxxxxxxx
EMAIL_FROM=noreply@familystars.app

# App
FRONTEND_URL=http://localhost:5173
ADMIN_EMAIL=chencho@example.com
NODE_ENV=development
PORT=3000

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
